# -----------  Credentials  -----------
t.py

# -----------  TEMP Files  -----------
.DS_Store
.vscode
.prettierrc
__pycache__
*.pyc
training_checkpoints

# -----------  Private  -----------
cards
insta_poems.txt
assets/twitter/
users.json